.navbar-brand {
    padding: 0px !important;
    height: 60px; /* firefox bug fix */
}
/*.navbar-brand>img {
  height: 100%;
  padding: 15px;  firefox bug fix 
  width: auto;
}*/
.logo {
    width: 152px;
    height: 60px;
    padding: 15px;
}

.navbar-btn {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.navbar-default li {
    height: 60px;
}

.github-icon {
    width: 36px;
    height: auto;
    position: relative;
    left: -6px;
    top: 0px;
}

.navbar-default {
    background-color: white !important;
}

.icon-selection {
    border: solid 1px black;
    margin: 0 10px;
}

@media screen and (max-width:768px) {
    .navbar-nav {
        display: inline;
    }

    .nav > li {
        float: left;
    }
}
