<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>Beta Beehive</title>

    <!-- Bootstrap CDN (http://getbootstrap.com/getting-started/) -->  
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Local Stylesheets -->
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/github.css') }}" rel="stylesheet" type="text/css">
    <!-- Bootstrap Scripts -->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!-- Local Scripts Placeholder -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</head>
<body>

<header>

 <div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{{ url_for('static',filename='img/Logo_Black.png') }}" class="imageHeader img-responsive"></a>
                <button class="navbar-toggle navbar-btn" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <img src="http://beta.beehive.ngo/glyphicons_free/glyphicons/png/glyphicons-157-show-thumbnails.png">
                </button>
            </div>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-default navbar-btn" id="list-view">
                            <img src="http://beta.beehive.ngo/glyphicons_free/glyphicons/png/glyphicons-158-show-thumbnails-with-lines.png">
                        </button>
                        <div class="icon-selection"></div>
                    </li>
                    <li>
                        <button class="btn btn-default navbar-btn" id="adjust">
                            <img src="http://beta.beehive.ngo/glyphicons_free/glyphicons/png/glyphicons-140-adjust-alt.png">
                        </button>
                        <div class="icon-selection"></div>
                    </li>
                    <li>
                        <button class="btn btn-default navbar-btn" id="next-modules">
                            <img src="http://beta.beehive.ngo/glyphicons_free/glyphicons/png/glyphicons-41-stats.png">
                        </button>
                        <div class="icon-selection"></div>
                    </li>
                    <li>
                        <button class="btn btn-default navbar-btn" id="calendar">
                            <img src="http://beta.beehive.ngo/glyphicons_free/glyphicons/png/glyphicons-46-calendar.png">
                        </button>
                        <div class="icon-selection"></div>
                    </li>
                    <li>
                        <button class="btn btn-default navbar-btn" id="user">
                            <img src="http://beta.beehive.ngo/glyphicons_free/glyphicons/png/glyphicons-4-user.png">
                        </button>
                        <div class="icon-selection"></div>
                    </li>
                    <li>
                        <button class="btn btn-default navbar-btn" id="reporting">
                            <img src="http://beta.beehive.ngo/glyphicons_free/glyphicons/png/glyphicons-151-edit.png">
                        </button>
                        <div class="icon-selection"></div>
                    </li>
                    <li>
                        <button class="btn btn-default navbar-btn" id="microphone">
                            <img src="http://beta.beehive.ngo/glyphicons_free/glyphicons/png/glyphicons-301-microphone.png">
                        </button>
                        <div class="icon-selection"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<p align="center">IATI Data Listview</p>

<div id="moduleContainer">
</div>

   <div class="buttons">
      | <a href="/">show as html</a> | <a href="/json">show as json</a> |
   </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='js/loadModules.js') }}"></script>

   <ul class="project-list list-group">
   {% for item in items %}
     <li class="list-group-item">{{ item[8] }}
      <div class="project-data">
         <table class="table table-striped">
            <tr>
               <td><b>Description:</b> {{ item[9] }}</td>
            </tr>
            <tr>
               <td><b>Reporting-org:</b> {{ item[4] }}</td>
            </tr>
            <tr>
               <td><b>Participating-org Accountable:</b> {{ item[15] }} </td>
            </tr>
            <tr>
               <td><b>Participating-org Funding:</b> {{ item[19] }}</td>
            </tr>
            <tr>
               <td><b>Participating-org Extending:</b> {{ item[23] }}</td>
            </tr>
            <tr>
               <td><b>Participating-org Implementing:</b> {{ item[27] }} </td>
            </tr>
         </table>
      </div>
     </li>
   {% endfor %}
   </ul>
</body>
</html>
